<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobtest20220217160728.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c2fcd289-c312-4e63-a0f7-48d08847b792/resourcegroups/testing_group/providers/Microsoft.Web/sites/blobtest20220217160728</ResourceId>
    <UserName>$blobtest20220217160728</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blobtest20220217160728.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>